{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
{% if user.is_authenticated %}
             {% if user.is_superuser %}
               <h1 class="text-center">Welcome, Administrator</h1>
        <p class="lead text-muted">
                Manage users, employers, job seekers, and job postings.
            </p>
        <a class="btn btn-outline-dark" href="/admin/" role="button">Go to Admin Dashboard</a>

                {% elif user.role == 'job_seeker' %}

        <h1 class="text-center">Find Your Dream Job</h1>
        <p class="lead text-muted">
               Browse thousands of opportunities and apply with ease..
            </p>

      <div class="text-center mt-4">

    <a class="btn btn-primary me-2" href="{% url 'jobs:job-list' %}">
        Browse Jobs
    </a>

    <a class="btn btn-outline-primary" href="{% url 'jobs:my-app' %} ">
        My Applications
    </a>

</div>

        {% elif user.role == 'employer' %}

 <h1 class="text-center"> Find the Right Talent</h1>


        <p class="lead text-muted"> Post jobs, manage listings, and hire the best candidates.</p>

               <div class="text-center mt-4">

    <a class="btn btn-outline-primary me-2" href="{% url 'jobs:create-job' %}">
        Post Jobs
    </a>

    <a class="btn btn-outline-primary" href="{% url 'jobs:my-jobs' %}">
        My Jobs

    </a>
                   <a class="btn btn-outline-primary" href="{% url 'jobs:view-applications' %}">
        Applications

    </a>
</div>

{% endif %}
        {% else %}
        <h1 class="text-center">Find Your Dream Job</h1>
        <p class="lead text-muted">
                Connect with top employers and discover career opportunities
                that match your skills.
            </p>
        <a class="btn btn-outline-dark" href="{% url 'users:register' %}" role="button">Get Started</a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}